<div class="row row-cols-1 row-cols-lg-2 g-4">

    <% projects.forEach(function(proj){ %>
        <div class="col mx-auto">

            <a href="/<%=proj.url%>" style="text-decoration: none; color: black;">

                <div class="card shadow">

                    <h5 class="card-header text-center">
                        <%= proj.name %>
                    </h5>

                    <div style="display: flex; justify-content: center;">
                        <% if (proj.img) { %>
                            <img src="<%=proj.img%>" class="card-img-top mx-auto my-auto"
                                style="max-width: 50vw; max-height: 25vh; width: auto; height: auto;"
                                alt="<%= proj.name %>">
                            <% } %>
                    </div>


                    <div class="card-body">
                        <h5 class="card-title">
                            <%= proj.name %>
                        </h5>

                        <% if (proj.member) { %>
                            <h6 class="card-title">
                                <%= proj.member.name %>
                            </h6>
                            <% } %>


                                <p class="card-text">
                                    <%= proj.title %>.
                                </p>
                    </div>
                </div>

            </a>
        </div>
        <% }); %>

</div>